.container {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card .formControl {
    display: flex;
    flex-direction: column;
}

.card input {
    padding: 0.25em 1em;
    border: 1px solid var(--bg-color-primary);
    border-radius: 10px;
}

.card button {
    color: white;
    background-color: var(--bg-color-primary);
}

.card .btnRow {
    display: flex;
    justify-content: end;
}

.card .message {
    background-color: rgb(223, 247, 223);
    padding: 10px;
    border-radius: 10px;
}

.card .error {
    background-color: rgb(237, 202, 202);
    padding: 10px;
    border-radius: 10px;
}