.title {
  text-align: center;
}

.wrapper,
.pricing {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.pricing {
  gap: 1em;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border: 5px solid var(--bg-color-primary);
  border-radius: 12px;
  width: calc(100% / 3);
  height: 415px;
}

.plan {
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.description p {
  font-size: 0.9em;
  text-align: left;
}

.img {
  object-fit: contain;
}
