.title {
  text-align: center;
}

.wrapper,
.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
}

.pricing {
  gap: 1em;
  padding: 0 1em;
  margin-bottom: 100px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border: 3px solid var(--bg-color-primary);
  border-radius: 12px;
  width: calc(100% / 3);
  height: 415px;
}

.plan {
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.description p {
  font-size: 0.9em;
  text-align: left;
}

.img {
  object-fit: contain;
  width: 12em;
}

@media screen and (max-width: 1260px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .pricing {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 10%;
  }
}
