.introduction {
  background-color: var(--bg-color-secondary);
  height: calc(100vh - 8rem);
}
.introduction img {
  align-self: start;
}

.introduction h1 {
  color: var(--color-white);
}
.introduction p {
  color: var(--text-color-light);
}
