@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fff;
  --color-black: #111;
  --bg-color-primary: #2f5a78;
  --bg-color-secondary: #006583;
  --bg-color-success: #309167;
  --bg-color-danger: #bf3838;
  --text-color-dark: #444;
  --text-color-light: #ccc;
}
/*
 *@media (prefers-color-scheme: dark) {
 *  :root {
 *    --foreground-rgb: 255, 255, 255;
 *    --background-start-rgb: 0, 0, 0;
 *    --background-end-rgb: 0, 0, 0;
 *  }
 *}*/

html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-color-dark);
  background: var(--color-white);
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

h1,
h2 {
  font-weight: bold;
  text-align: justify;
  text-justify: distribute-all-lines;
}

h1 {
  font-size: calc(32px + 0.390625vw);
}

h2 {
  font-size: calc(28px + 0.390625vw);
}

p {
  font-size: calc(16px + 0.390625vw);
  text-align: justify;
  text-justify: distribute-all-lines;
}

input {
  color: #444;
}

.btn {
  width: 10em;
  height: 3em;
  border-radius: 10px;
}

.btn-success {
  background: var(--bg-color-success);
  color: var(--color-white);
}
.description {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  flex-direction: column;
  gap: 2em;
  align-self: center;
}

.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3em;
  padding: 1em 2em;
}

@media screen and (max-width: 910px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: calc(28px - 0.390625vw);
  }

  h2 {
    font-size: calc(24px - 0.390625vw);
  }
  p {
    font-size: calc(16px - 0.390625vw);
  }
}
