.container {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
}

.card {
    border: 3px solid var(--bg-color-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 20px;
}

.card input {
    padding: 0.25em 1em;
    border: 1px solid var(--bg-color-primary);
    border-radius: 10px;
}

.card button {
    color: white;
    background-color: var(--bg-color-primary);
}

.card h3 {
    text-align: center;
    font-size: 26px
}

.card p {
    text-align: left;
    font-size: 18px;
}

.card .message {
    background-color: rgb(223, 247, 223);
    padding: 10px;
    border-radius: 10px;
}

.card .error {
    background-color: rgb(237, 202, 202);
    padding: 10px;
    border-radius: 10px;
}