.navbar {
  display: flex;
  width: 100vw;
  height: 5rem;
  background-color: var(--bg-color-primary);
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 3rem;
}

.logo h1 {
  font-size: 1.2em;
  color: var(--color-white);
  margin-left: 10px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
  font-size: 0.8em;
}

.btn {
  display: none;
}

@media screen and (max-width: 700px) {
  .logo h1 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .btn {
    display: block;
    color: white;
  }
  .show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.1em;
    left: 0;
    width: 100vw;
    padding: 1em 2em;
    gap: 0.5em;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
