.introduction {
  background-color: var(--bg-color-secondary);
  height: calc(100vh - 8rem);
}

.introduction img {
  position: absolute;
  right: 8em;
  top: 8em;
  width: 20%;
}

.introduction h1 {
  color: var(--color-white);
}
.introduction p {
  color: var(--text-color-light);
}
