.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 55vh;
  padding: 2em;
  background-color: var(--bg-color-primary);
  color: var(--color-white);
  border: 1px solid var(--text-color-light);
  border-radius: 12px;
  z-index: 11;
}

.card h2 {
  text-align: center;
  font-size: 1.5em;
}

.card img {
  height: 30%;
  object-fit: contain;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card label {
  font-size: 0.7em;
  padding-left: 1.1em;
}

.card :is(input[type="email"], input[type="password"]) {
  width: 100%;
  padding: 0.25em 1em;
  border-radius: 20px;
}

.card input[type="submit"] {
  padding: 1em;
  align-self: flex-start;
}
